.example {
  width: 200px;
  padding: 20px 40px 40px 40px;
  min-height: 400px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
}
